name: Java CI with Tests

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Run Unit Tests with Jacoco
        run: mvn test

      - name: Upload Jacoco Unit Test Report
        uses: actions/upload-artifact@v3
        with:
          name: jacoco-unit-report
          paths: target/site/jacoco/

  integration-tests:
    runs-on: ubuntu-latest
    needs: unit-tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Run Integration Tests with Jacoco
        run: mvn verify -Pintegration-tests

      - name: Upload Jacoco Integration Test Report
        uses: actions/upload-artifact@v3
        with:
          name: jacoco-integration-report
          paths: target/site/jacoco/
